<ion-tabs color="whatsapp">
  <ion-tab [root]="chatsRoot" tabIcon="chatboxes"></ion-tab>
  <ion-tab tabIcon="contacts"></ion-tab>
  <ion-tab tabIcon="star"></ion-tab>
  <ion-tab tabIcon="clock"></ion-tab>
</ion-tabs>
